/********************
Variables for colors
********************/

// Color names
$black: #000000;
$white: #FFFFFF;
$cyan-desaturated-dark: #3D6B67;
$cyan-desaturated-light: #599C97;
$cyan-soft: #A4EFC1;
$blue-strong: #149ACD;
$gray: #D3D3D3;

// Elements
$brand-primary: $cyan-desaturated-light;
$brand-secondary: $cyan-soft;
$brand-tertiary: $cyan-desaturated-dark;
$link-blue: $blue-strong;
$link-white: $white;

// Colors - other typography
// $heading-color: #8DA2AA;
// $heading-color-dark: #708188; // formerly #52514F
// $heading-color-darker: #546166;
// $heading-color-darkest: #384044;
// $body-font-color: #859ca4;
// $border-color: #E7E7E7;
// $border-color-dark: $gray-dark;

// Colors - backgrounds
// $bg-blue-illustration: #67bcea;
// $bg-gray: #f3f2f2;
// $bg-strong-blue: #0277BD;

// Other color variables


// $blue-dark: #02579A;
// $blue-darker: #005689;
// $blue-darkest: #024f81;
// $blue-dark-stories: #81d4fa;
// $blue-soft: #9CD3F6;
// $blue-soft-stories: #bbdefb;
// $blue-strong: #0287D6;
// $gray-blue-dark: #455964;
// $gray-blue-light: #E0EDF6;
// $gray-blue-lighter: #dedede;
// $gray-dark: #B3B2B1;
// $gray-darker: #8f8e8d;
// $gray-darkest: #595958;
// $gray-light: #C7D2D6;
// $gray-lighter: #f2f2f2;
// $white-gray: #F5F5F5;
// $white-sub: #fbfbfb;

//Color varibles for opacity
// $black-opacity: rgba(0, 0, 0, 0.5);
// $brand-primary-opacity: rgba(3, 141, 230, 0.95);
// $white-opacity: rgba(255, 255, 255, 0.95);

